
{% extends 'herbie/base.html' %}    
{% load static %}
{% block content %}

{% for edit in editor %}  
  <div class="site-half block">
    <div class="img-bg-1 right" style="background-image: url({{edit.about_image.url}});" data-aos="fade" data-aos-delay="100"></div>
    <div class="container">
      <div class="row no-gutters align-items-stretch">
        <div class="col-lg-5 mr-lg-auto py-5">
          <span class="caption d-block mb-2 font-secondary font-weight-bold">About us</span>
          <h2 class="site-section-heading text-uppercase font-secondary mb-5">Someone</h2>
                <p> {{edit.about_text}} </p>
        </div>
      </div>
    </div>
  </div>
    
{% endfor %}
            
      
            
          
  {% include 'herbie/includes/footer.html' %}


  {% endblock %}
  